body {
  background-color: #fff;
  color: #333;
  font: 16px/1.4 "Helvetica Neue", sans-serif;
  margin: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.page-title {
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: bold;
}

.page__paragraph,
.survey__paragraph {
  margin: 1em 0;
}
.survey__text-label,
.survey__dropdown-label {
  display: block;
  margin-top: 1em;
}

.survey__fieldset {
  border: 1px solid black;
  margin-top: 1em;
}
