:root {
  --color-light: #fbf7f4;
  --color-dark: #050201;
  --color-light-accent: #e6a78a;
  --color-dark-accent: #703111;
  --color-light-highlight: #d65b1d;
  --color-dark-highlight: #b25319;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font: 16px/1.4 "Helvetica Neue", sans-serif;
  padding: 1em;
  min-width: 320px;
}

img {
  display: block;
  max-width: 100%;
  margin: 1em auto;
}

.page__title {
  font-size: 1.75em;
  margin: 1em 0;
  font-weight: bold;
  text-align: center;
}

.page__paragraph,
.survey__paragraph {
  margin: 1em 0;
}

.survey {
  border: double var(--color-light-accent);
  border-radius: 1em;
  box-shadow: 0px 0px 10px var(--color-dark-accent);
  color: var(--color-dark-highlight);
  padding: 1em;
  /* Increase margin to account for the box shadow */
  margin: calc(1em + 10px) 0em;
}

.survey__control > label:first-child,
.survey__fieldset,
.survey__button {
  margin-top: 0.75em;
}

/* Remove the margin for the first label of the form */
.survey > .survey__control:first-child > label:first-child {
  margin: 0;
}

.survey__label-dropdown,
.survey__label-text,
.survey__legend {
  display: block;
  font-weight: bold;
}

.survey__input-number,
.survey__input-text,
.survey__fieldset,
.survey__dropdown {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 1px solid var(--color-dark-highlight);
  border-radius: 0.25rem;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.05);
  padding: 0.6em 1.4em 0.5em 0.8em;
  background-image: linear-gradient(to bottom, #e5e5e5 0%, #e5e5e5 100%);
}

.survey__fieldset > .survey__control {
  margin-top: 0.3em;
}

.survey__input-checkbox {
  vertical-align: top;
  margin-top: 0.3em;
}

.survey__input-checkbox + .survey__label-radio {
  display: inline-block;
  width: 90%;
}

.survey__input-radio,
.survey__input-checkbox {
  transform: scale(1.75);
}

.survey__dropdown {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23703111%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #e5e5e5 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.survey__legend {
  background-color: var(--color-dark-accent);
  color: var(--color-light);
  border-radius: 0.5em;
  padding: 0.5em 0 0.5em 0.5em;
  width: 100%;
}

.survey__button {
  background-color: var(--color-dark-highlight);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 25%,
    rgba(0, 0, 0, 0)
  );
  border: 0;
  border-radius: 0.5em;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  color: var(--color-light);
  font-variant: small-caps;
  line-height: 3em;
  padding: 0 20px;
  text-align: center;
  text-shadow: 1px 1px 1px var(--color-dark);
  width: 100%;
}

.survey__button:hover {
  background-color: var(--color-light-highlight);
}

.survey__button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 400px) {
  body {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  body {
    width: 55%;
    max-width: 600px;
    margin: 0 auto;
  }
}
