:root {
  --color-light: #fbf7f4;
  --color-dark: #050201;
  --color-light-accent: #e6a78a;
  --color-dark-accent: #703111;
  --color-light-highlight: #d65b1d;
  --color-dark-highlight: #b25319;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font: 16px/1.4 "Helvetica Neue", sans-serif;
  padding: 1em;
  min-width: 320px;
}

img {
  display: block;
  max-width: 100%;
  margin: 1em auto;
}

.page__title {
  font-size: 1.75em;
  margin: 1em 0;
  font-weight: bold;
  text-align: center;
}

.page__paragraph,
.survey__paragraph {
  margin: 1em 0;
}

.survey {
  border: double var(--color-light-accent);
  border-radius: 1em;
  box-shadow: 0px 0px 10px var(--color-dark-accent);
  color: var(--color-dark-highlight);
  padding: 1em;
  /* Increase margin to account for the box shadow */
  margin: calc(1em + 10px) 0em;
}

.survey__control > label:first-child,
.survey__fieldset,
.survey__button {
  margin-top: 0.75em;
}

/* Remove the margin for the first label of the form */
.survey > .survey__control:first-child > label:first-child {
  margin: 0;
}

.survey__label-dropdown,
.survey__label-text {
  display: block;
  font-weight: bold;
}
